.title_type_stages {
  line-height: var(--line-height-m);
}

@media screen and (max-width: 767px) {
  .title_type_stages {
    font-size:var(--primary-font-size-m);
    line-height: var(--line-height-s);
  }
}