.members__pagination {
  padding-top: 6px;
  justify-self: end;
}

@media screen and (max-width: 767px) {
  .members__pagination {
    display: flex;
    justify-content: center;
    padding-top: 0;
  }
}