.marquee {
  background: var(--secondary-bg-color);
  color: var(--secondary-button-color);
  font: var(--primary-font-size-s) var(--primary-font-regular);
  line-height: var(--line-height-s);
  overflow: hidden;
  padding: 19px 0 17px;
}

@media screen and (max-width: 767px) {
  .marquee {
    font-size: var(--primary-font-size-xs);
    padding: 11px 0 9px;
  }
}