.support__play {
  flex: 0 1 38.79%;
}

@media screen and (max-width: 1365px) {
  .support__play {
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .support__play {
    flex-basis: 100%;
  }
}