.support {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  font: var(--secondary-font-size-l) var(--secondary-font-regular);
  gap: 37px;
  margin-bottom: 100px;
  padding-top: 108px;
}

@media screen and (max-width: 767px) {
  .support {
    gap: 45px;
    margin-bottom: 60px;
    padding-top: 51px;
  }
}