.support__game {
  flex: 0 1 32.24%;
}

@media screen and (max-width: 1365px) {
  .support__game {
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .support__game {
    flex-basis: 100%;
  }
}