.link-button_color_black {
  background: var(--primary-button-color);
  color: var(--secondary-button-color);
}

.link-button_color_black:hover {
  background: var(--hover-color);
  color: var(--primary-button-color);
}