.support__game-container {
  height: 0;
  padding-bottom: 63.45%;
  position: relative;
  top: -29px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .support__game-container {
    top: auto;
  }
}