.pagination-slider {
  align-items: center;
  color: rgba(49, 49, 49, .6);
  display: flex;
  font: var(--secondary-font-size-s) var(--secondary-font-regular);
  gap: 16px;
  line-height: var(--line-height-m);
}