.intro {
  background-color: var(--primary-bg-color);
  background-image: image-set(
    url('/images/intro/intro-bg@2x.webp') type("image/webp") 2x,
    url('/images/intro/intro-bg@1x.webp') type("image/webp") 1x,
    url('/images/intro/intro-bg@2x.jpg') 2x,
    url('/images/intro/intro-bg@1x.jpg') 1x
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-color);
  display: flex;
  font: var(--secondary-font-size-m) var(--secondary-font-regular);
  justify-content: center;
  width: 100%;
}