.members__list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  inset: 0px;
  transition: margin-left .3s ease-in-out;
  grid-template-columns: repeat(calc(var(--slides) * 3), 1fr);
  width: calc(var(--slides) * 100%);
}

@media screen and (max-width: 767px) {
  .members__list {
    grid-template-columns: repeat(var(--slides), 1fr);
  }
}