.support__table-cell {
  border: 1px solid var(--table-border-color);
  box-sizing: border-box;
}

.support__table-cell:nth-child(odd) {
  border-left: none;
  flex: 0 1 43.5%;
}

.support__table-cell:nth-child(even) {
  border-right: none;
  flex: 0 1 56.5%;
  font: var(--secondary-font-size-l) var(--secondary-font-semibold);
  padding-left: 15px;
}

.support__table-cell:nth-child(-n+2) {
  border-top: none;
  padding-bottom: 15px;
}

.support__table-cell:nth-last-child(-n+2) {
  border-bottom: none;
  padding-top: 15px;
}

.support__table-cell:not(:nth-child(-n+2)):not(:nth-last-child(-n+2)) {
  padding-bottom: 15px;
  padding-top: 15px;
}